/* ---------RESETS--------- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }

  /*------------CONTAINER GRID-------------*/
.container{
  max-width: 140rem;
  margin: 0 auto;
  padding: 1.5rem;
}

  /*------------HEADER-------------*/
  .header{
    background: #2b2b2b;
    position: relative;
    position: fixed;
    width: 100%;
  }

  .header .header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .header .branding {
    display: flex;
    align-items: center;

  }

  .header .branding h3{
    color: #f5f5f5;
    font-size: 2.5rem;
    margin-left: 2rem;
  }

  .header .branding h3 span{
    color: #ffa700;
  }

  .header .header__nav ul{
    display: flex;
  }

  .header .header__nav ul li{
    margin-left: 2rem;

  }

  .header .header__nav ul li a{
    color: #f5f5f5;
    font-size: 2rem;
    padding: 2rem 0;
  }
  
  .header .header__nav ul li:hover a{
    color: #ffa700;
 
  }

  .toggle__menu{
    display: none;
  }

  /* css ng burger button */
  .toggle__menu span{
    width: 3rem;
    height: .3rem;
    background-color: #ffa700;
    display: block;
    margin-top: .5rem;
    border-radius: 5rem;
    transition: .5s ease;
  }

  
/*----------MEDIA QUERY---------*/
@media screen and (max-width: 500px){

  .toggle__menu{
    display: block;
  }

  /* animation ng toggle menu */
  .toggle__menu.open span:first-child{
    transform: translate(0, 10px) rotate(225deg);
    transition: .5s ease;
  }

  .toggle__menu.open span:nth-child(2){
    opacity: 0;
    transition: .5s ease;
  }

  .toggle__menu.open span:last-child{
    transform: translate(0, -6px) rotate(-225deg);
    transition: .5s ease;
  }

  .header .header__nav{
    background: #2b2b2b;
    position: absolute;
    top: 10.3rem;
    right: -100rem;
    width: 100%;
    height: 100vh;
    transition: .5s ease;
  }

  .header .header__nav.open{
    right: 0;
    transition: .5s ease;
  }

  .header .header__nav ul{
    display: block;
    text-align: center;
  }

  .header .header__nav  ul li{
    padding: 3rem 0;
    margin-left: 0;
  }

  .header .header__nav  ul li:hover{
    background: #333333;
    cursor: pointer;
  }

  .header .header__nav  ul li a{
    font-size: 3rem;
  }


}


/*------------BANNER-------------*/
.banner{
  padding-top: 13rem;
  padding-bottom: 5rem;
}

  .banner .banner__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .banner .banner__text{
    max-width: 60rem;
  }

  .banner .banner__text h1{
    color: #ffa700;
    font-size: 8rem;
    font-weight: 600;
    line-height: 1.15;
  }

  .banner .banner__text p{
   margin: 3rem 0;
   color: #2b2b2b;
  }

  @media screen and (max-width: 500px) {
    .banner .banner__wrapper{
      flex-direction: column-reverse;
    }

    .banner .banner__text{
      text-align: center;
      margin-top: 5rem;
    }

    .banner .banner__text h1{
      font-size: 3rem;
    }

    .banner .banner__text p{
      text-align: justify;
    }

    .banner img{
      width: 25rem;
    }

  }



/*------------HM-SERVICES-------------*/

.hm-services{
  padding: 5rem 0;
  background: #2b2b2b;
}

.hm-services .hm-services__wrapper{
  display: flex;
  justify-content: space-between;
}

.hm-services .hm-services__item i{
  color:#ffa700;
  font-size: 6rem;
}

.hm-services .hm-services__item{
 text-align: center;
 max-width: 38rem;

}

.hm-services .hm-services__item h4{
  color:#ffa700;
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem 0;
}

.hm-services .hm-services__item p{
  color: #f5f5f5;
  margin-bottom: 2rem;
  text-align: justify;
}

.hm-services .hm-services__item a:hover{
  border: 1px solid #f5f5f5;
}

@media screen and (max-width: 500px){
  .hm-services .hm-services__wrapper{
    flex-direction: column;
  }

  .hm-services .hm-services__item{
    margin: 0 auto;
  }

  .hm-services .hm-services__item:nth-child(2){
    margin: 10rem auto;
  }

}


 /*------------HM-ABOUTPAGE-------------*/

.hm-aboutpage{
  padding: 5rem;
}

.hm-aboutpage .hm-aboutpage__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hm-aboutpage .hm-aboutpage__text{
  max-width: 70rem;
}

.hm-aboutpage .hm-aboutpage__text p{
  text-align: justify;
}

.hm-aboutpage .hm-aboutpage__text h2{
 color: #ffa700;
 font-size: 5rem;
 font-weight: 600;
 margin-bottom: 3rem;
}

@media screen and (max-width: 500px){
  .hm-aboutpage .hm-aboutpage__wrapper{
    flex-direction: column;
  }

  .hm-aboutpage img{
    margin-bottom: 5rem;
  }

  .hm-aboutpage .hm-aboutpage__text h2{
    text-align: center;
  }

 
}

 /*------------HM-TRENDS-------------*/

 .hm-trends{
  padding: 5rem 0;
  background: #2b2b2b;
 }
 
 .hm-trends__title{
  margin-bottom: 5rem;
 
 } 

 .hm-trends__title h2{
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
 }

 .hm-trends__title p{
  color: #f5f5f5;
 }

 .hm-trends .hm-trends__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
 }


.hm-trends .hm-trends__card{
  background: #f5f5f5;
  border-radius: 3rem;
}

.hm-trends .hm-trends__card img{
width: 100%;
}

.hm-trends .hm-trends__card .hm-trends__card__text{
  padding: 2rem;
}
.hm-trends .hm-trends__card .hm-trends__card__text h4{
 color: #ffa700;
 font-size: 2rem;
 font-weight: 600;
}

.hm-trends .hm-trends__card .hm-trends__card__text p{
margin-top: 2rem;
margin-bottom: 5rem;
}

.hm-trends .hm-trends__card .hm-trends__card__text a{
color: #ffa700;
}

@media screen and (max-width: 500px){

  .hm-trends{
    padding: 2rem 0;
  }

  .hm-trends .hm-trends__wrapper{
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 2rem;
  margin-right: 2rem;
  }

  .hm-trends .hm-trends__title{
    text-align: center;
  
  }

  .hm-trends .hm-trends__title h2{
    font-size: 3rem;
  
  }


}


/*------------HM-CONTACT PAGE-------------*/

.hm-contactpage{
  padding: 5rem;
  background: #ffa700;
}

.hm-contactpage__wrapper{
  display: block;
  text-align: center;
  justify-content: center;
}

.hm-contactpage .hm-contactpage__text h3{
  font-size: 5rem;
  font-weight: 600;
}

.hm-contactpage .hm-contactpage__text p{
 margin-top: 1rem;
}

.hm-contactpage .hm-contactpage__text a{
 color: #f5f5f5;
 margin-top: 5rem;
}


/*------------FOOTER-------------*/

.footer{
  padding: 1rem;
  background: #2b2b2b;
}

.footer .footer__wrapper{
  display: flex;
  justify-content: space-between;  
  align-items: center;
}

.footer .footer__icons{
  color: #f5f5f5;
}

.footer .footer__icons i{
  font-size: 2rem;
  margin: 1.5rem;
}

.footer .footer__icons ul{
  display: flex;
}

.footer .footer__icons a{
  color: #f5f5f5;
}

.footer .footer__icons a:hover{
  color:#ffa700;
}

.footer .footer__text{
  color: #f5f5f5;
  font-size: 1.5rem;
}

.footer .footer__copyright{ 
  color: #f5f5f5;
  font-size: 1.5rem;
}

@media screen and (max-width: 500px){

  .footer{
    padding: .2rem;
  }

  .footer .footer__wrapper{
    flex-direction: column;
  }

  .footer .footer__text{
    font-size: 1.2rem;
  }

  .footer .footer__copyright{
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }

}

/*------------ABOUT PAGE - BANNER-------------*/

.aboutpage-banner{
  padding-top: 13rem;
  padding-bottom: 5rem;
}

.aboutpage-banner .aboutpage-banner__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutpage-banner .aboutpage-banner__text{
  max-width: 55rem;

}

.aboutpage-banner .aboutpage-banner__text h2{
  color: #ffa700;
  font-size: 8rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.aboutpage-banner .aboutpage-banner__text p{
  text-align: justify;
}

.aboutpage-banner .aboutpage-banner__text ul{
  display: flex;
  margin-top: 5rem;
}

.aboutpage-banner .aboutpage-banner__text a{
  margin: 0.8rem;
  color:#ffa700;
  font-size: 25px;
}

.aboutpage-banner .aboutpage-banner__text a:hover{
  color: #2b2b2b;
}

.aboutpage-banner img{
 width: 50%;
 height: 100%;
}

.aboutpage-banner .angledown-icon{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.aboutpage-banner .angledown-icon{
  color: #ffa700;
  font-size: 25px;
}

.aboutpage-banner .angledown-icon:hover{
  color: #2b2b2b;
 
}

@media screen and (max-width: 500px){

  .aboutpage-banner{
    padding-bottom: 2rem;
  }

  .aboutpage-banner .aboutpage-banner__wrapper{
    flex-direction: column-reverse;
  }

  .aboutpage-banner .aboutpage-banner__text{
    text-align: center;
  }
  .aboutpage-banner .aboutpage-banner__text h2{
    font-size: 3rem;
  }
  .aboutpage-banner .aboutpage-banner__text h4{
    text-align: center;
    margin-top: 3rem;
  }

  .aboutpage-banner .aboutpage-banner__text p{
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .aboutpage-banner .aboutpage-banner__text ul{
    justify-content: center;
    margin-bottom: 3rem;
  }

  .aboutpage-banner .angledown-icon{
    margin-top: 3rem;
  }

}


/*------------ABOUT PAGE - RECENT PROJECTS-------------*/

.projects{
  padding: 5rem 0;
  background: #2b2b2b;
}

.projects .projects__title h2{
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
}

.projects .projects__title p{
  color: #f5f5f5;
  margin-top: 2rem;
  margin-bottom: 8rem;
}

.projects .projects__cards__text{
  padding: 3rem;
}

.projects .projects__cards__text h4{
  color: #ffa700;
  font-size: 1.5rem;
  font-weight: 600;   
}

.projects .projects__cards__text p{
  color: #2b2b2b;
  text-align: justify;
  margin-top: 2rem;
  margin-bottom: 4rem;
  line-height: 2;
}

.projects .projects__wrapper{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5rem;
}

.projects .projects__cards{
  background: #f5f5f5;
  border-radius: 3rem;
}

.projects .projects__cards img{
width: 100%;
}

@media screen and (max-width: 500px){

  .projects{
    padding-top: 3rem;
    padding-bottom: 5rem;
  }


  .projects .projects__title h2{
    font-size: 3rem;
    text-align: center;
  }

  .projects .projects__title p{
    text-align: center;
    margin-bottom: 5rem;
  }

  .projects .projects__wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }



}

/*------------SERVICES PAGE - BANNER 1-------------*/

.services1__banner{
  padding: 5rem 0;
  background: #f5f5f5;
}

.services1__banner .services1__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services1__banner .services1__banner__text{
  max-width: 60rem;
}

.services1__banner .services1__banner__text h2{
  color: #ffa700;
  font-size: 8rem;
  font-weight: 600;
  line-height: 8.5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.services1__banner .services1__banner__text p{
  text-align: justify;
  line-height: 2;
}

.services1__banner .services1__banner__text h3{
  color: #ffa700;
  font-size: 3.5rem;
  font-weight: 600;
}

.services1__banner .services1__banner__text h5{
  font-size: 1.3rem;
  font-style: italic;
}

.services1__banner .angledown-icon{
  display: flex;
  justify-content: center;
  margin-top: 10rem;

}

.services1__banner .angledown-icon{
  color: #ffa700;
  font-size: 30px;
}

.services1__banner .angledown-icon:hover{
  color: #2b2b2b;
}

/* ------------SERVICES PAGE - BANNER 2------------- */


/* .services2__banner{
  padding: 5rem 0;
  background: #2b2b2b;
}

.services2__banner .services2__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services2__banner .services2__banner__text{
  max-width: 60rem;
}

.services2__banner .services2__banner__text h2{
  color: #ffa700;
  font-size: 8rem;
  font-weight: 600;
  line-height: 8.5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.services2__banner .services2__banner__text p{
  color: #f5f5f5;
  text-align: justify;
  line-height: 2;
}

.services2__banner .services2__banner__text h3{
  color: #ffa700;
  font-size: 3.5rem;
  font-weight: 600;
}

.services2__banner .services2__banner__text h5{
  color: #f5f5f5;
  font-size: 1.3rem;
  font-style: italic;
}

.services2__banner .angledown-icon{
  display: flex;
  justify-content: center;
  margin-top: 10rem;

}

.services2__banner .angledown-icon{
  color: #ffa700;
  font-size: 30px;
}

.services2__banner .angledown-icon:hover{
  color: #2b2b2b;
} */

/*------------SERVICES PAGE - BANNER 3-------------*/


/* .services3__banner{
  padding: 5rem 0;
  background: #f5f5f5;
}

.services3__banner .services3__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services3__banner .services3__banner__text{
  max-width: 60rem;
}

.services3__banner .services3__banner__text h2{
  color: #ffa700;
  font-size: 8rem;
  font-weight: 600;
  line-height: 8.5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.services3__banner .services3__banner__text p{
  text-align: justify;
  line-height: 2;
}

.services3__banner .services3__banner__text h3{
  color: #ffa700;
  font-size: 3.5rem;
  font-weight: 600;
}

.services3__banner .services3__banner__text h5{
  font-size: 1.3rem;
  font-style: italic;
}

.services3__banner .angledown-icon{
  display: flex;
  justify-content: center;
  margin-top: 10rem;

}

.services3__banner .angledown-icon{
  color: #ffa700;
  font-size: 30px;
}

.services3__banner .angledown-icon:hover{
  color: #2b2b2b;
} */


/*------------UPDATES PAGE - BANNER 1-------------*/

.updates__banner{
  padding-top: 13rem;
  padding-bottom: 5rem;
}

.updates__banner .updates__title h2{
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
}

.updates__banner .updates__wrapper{
  display: flex;
  justify-content: space-between;
}

.updates__banner .updates__wrapper h3{
  color: #ffa700;
  font-size: 3rem;
  font-weight: 600;

}

.updates__banner .updates__details{
  display: flex;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.updates__banner .details-icons{
  margin-right: 8rem;
}

.updates__banner .updates__details p{
  display: inline;
  margin-left: 1rem;
}

.updates__banner .categories__wrapper{
  display: flex;
  line-height: 3;
}

.updates__banner .description{
  margin-left: 10rem;
  font-weight: 800;
}

.updates__banner .number{
  margin-left: 10rem;
  font-weight: 800;
}

.updates__banner .description h3{
  color: #ffa700;
  font-size: 3rem;
  font-weight: 600;
}

.updates__banner .explanation h3{
  color: #ffa700;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.updates__banner .explanation p{
  line-height: 2;
  text-align: justify;
}



/*------------REPEATABLE PATTERNS-------------*/

.btn{
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
}

.btn.yellow{
  background: #ffa700;
  color: #f5f5f5;
  border: 1px solid #ffa700;
}

.btn.yellow:hover{
  background: #2b2b2b;
  border: 1px solid #2b2b2b;
}

.btn.black{
  /* color: #f5f5f5; */
  background: #2b2b2b;
  border: 2px solid #2b2b2b;
}

.btn.black:hover{
  background: #f5f5f5;
  color: #2b2b2b;
  border: 2px solid #f5f5f5;
}

